game_states/game_states.dtd

<!DOCTYPE game
[
<!ELEMENT game (player, card)>
<!ATTLIST game game_state (active | finished) #REQUIRED>
<!ELEMENT player (points)>
<!ELEMENT points (#PCDATA)>
<!ATTLIST player player_state (playing | waiting) #REQUIRED
                 name ("PCDATA") #REQUIRED
>
<!ELEMENT card (position_x, position_y)>
<!ELEMENT position_x (#PCDATA)>
<!ELEMENT position_y (#PCDATA)>
<!ATTLIST card card_state (shown | hidden) #REQUIRED
               id ("PCDATA") #REQUIRED
>
]>